
/*
==============================
CONTENT RESET
==============================


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
=============================
GENERAL STYLES
=============================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

body {
background-color: rgb(231, 235, 238);
  /*background-color: rgb(211, 215, 218);*/
  background-size: 100% 100%;
  font: 400 16px/20px "Cabin", Helvetica, Arial, sans-serif;
}

section {
  display: block;
  padding: 10px;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.info {
  padding-left:  30px;
  padding-right: 30px;
  width: auto;
  align-content: center;
}

/*
=============================
CLEARFIX
=============================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
=============================
TYPOGRAPHY
=============================
*/
.heading, .subHeading, .largeTitle, .subTitle, .largeLink, .link, p{
  color: rgb(48, 46, 48);
  font-family: "Cabin Sketch", arial, helvetica, sans-serif;
}

.heading {
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 10px;
}

.subHeading {
  font-size: 36px;
  color: rgb(231, 235, 238);
  line-height: normal;
}

.largeTitle {
  font-size: 44px;
  text-align: center;
}

.subTitle {
  font-size: 32px;
}

p {
  font-size: 16px;
  font-family: "Cabin", arial, helvetica, sans-serif;
}

.link {
  font-size: 28px;
}

.gif {
  font-size: 26px;
  text-align: center;
}

.largeLink {
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

/*
=============================
HEADER
=============================
*/

header {
  background-size: 100%;
  background: rgb(104, 179, 227);
  display: block;
  border-bottom: 4px solid rgba(48, 46, 48, 0.7);
}

.heading {
  padding-top:20px;

}

.subHeading {
  text-align: center;
  padding: 15px
}

.profile {
  display: block;
  position: relative;
  float: right;
  margin: 10px;
  border-radius: 100%;
  height: 100px;
}

        /*
        =============================
        HEADER NAVIGATION BAR
        =============================
        */

        .nav1 li{
          float: right;
          padding: 10px;
        }

        .link:hover {
          color: rgb(104, 179, 227)
        }

/*
=============================
SECTIONS
=============================
*/

section {
  background-size: 100%;
  display: inline-block;
  align-content: center;
  /*margin-top: 20px;
  margin-bottom: 20px;*/
  padding-left: 20px;
  padding-right: 20px;
}

.largeTitle {
  display: block;
  padding: 10px;
  border-bottom: 2px solid rgba(104, 179, 227, 0.7);
}

.subTitle {
  padding: 20px 0px 10px 0;
}

p{
  padding: 10px;
}

.fieldResearch {
  display: block;
  float: right;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
}

.skiing {
  width: 100%;
}

.gif, .skiing {
  border-radius: 10px;
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 15px;
}


.largeLink:hover {
    color: rgb(104, 179, 227)
}

/*
=============================
FOOTER
=============================
*/

footer {
  background-size: 100%;
  background: rgb(104, 179, 227);
  display: block;
  /*position:fixed;*/
  width: 100%;
  min-height: 40px;
  border-top: 4px solid rgba(48, 46, 48, 0.7);
}

      /*
      =============================
      FOOTER NAVIGATION BAR
      =============================
      */
      .nav2 {
        width: auto;
        padding: 10px;
      }

      .nav2 li{
        display: inline;
        padding: 10px;
      }

      .footerLink:hover {
        color: rgb(231, 235, 238)
      }
